{% extends "home/base.html" %}
{% block content %}
        <article class="media content-section">
          <div class="text media-body">
            <div class="text article-metadata">
              <h1>יצירת קשר</h1>
            </div>
                אגף הפיקוח העירוני- 08-620-5111  
      <br>
    עיריית באר שבע- 08-646-366    
      <br>

    לשכת ראש העיר -      08-6463890
        <br>

    מנכ"לית העירייה-         08-6463683  
        <br>

    מזכיר העיר -               08-6463990 
        <br>

    מחלקת תכנון אסטרטגי- 08-6463648
        <br>

    תמיכה טכנית באתר –   08-2546457  

          </div>
        </article>
{% endblock content %}