{% extends "home/base.html" %}
{% block content %}
        <article class="media content-section">
          <div class="text media-body">
            <div class=" text article-metadata">
              <h1>דף עזרה</h1>
            </div>
           !MIFGA-7 ברוכים הבאים לאתר
              </h1>
              <p>
            האתר מספק לך את האופציה להגיש הודעה באתר על מפגע בקיים בשכונתך או באזור אחר בעיר באר שבע.
              </p>
              <p>
            על מנת להגיש תלונה תחילה יש להתחבר כמשתמש רשום דרך כפתור ההתחברות, אם פתחת בעבר משתמש באתר,התחבר למשתמש הקיים שברשותך.
              </p>
              <p>
                על מנת לדווח על תלונה לחץ על כפתור יצירת המפגע
           כמו כן,ישנה אפשרות לצפות בפניות הקיימות בלשונית ה-"הפניות שלי" ותוכלו לראות גם את סטטוס הפנייה שפתחתם
              </p>
            בנוגע לכל נושא או בעיה תוכל לפנות פרטים ליצירת קשר עימנו בכפתור צור קשר .
          </div>
        </article>
{% endblock content %}