{% extends "home/base.html" %}
{% block content %}
    {% for post in posts %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <small class="text-muted">#{{ post.id }}, </small>
              <small class="text-muted">{{ post.date_posted|date:" d-F-Y" }}</small>
              {% now "d-F-Y" as today_date %}
              {% if post.date_posted|date:"d-F-Y" == today_date  %}
              <span class="badge badge-secondary">New Post</span>
              {% endif %}
            </div>
            <div class="text"> 
            <h5><i><b> {{ post.title }}</b> </i></h5>
            <p class="article-content">{{ post.content }}</p>
          </div>
          </div>
        </article>
    {% endfor %}
{% endblock content %}