{% extends "home/base.html" %}
{% block content %}
    {% for mifga in mifgas %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <small class="text-muted">#{{ mifga.id }}, </small>
              <small class="text-muted">date posted: {{ mifga.date_posted|date:" d-F-Y" }}</small>
              {% if mifga.status == 'closed' %}
              <strong class="stat text-danger"> {{ mifga.status }} </b></strong>
              {% else %}
              <strong class="stat text-success"><b>{{ mifga.status }} </b></strong>
              {% endif %}
            </div>
            <h3>{{ mifga.title }}</h3>
            <p class="article-content">{{ mifga.content }}</p>
            <div class="alert alert-info" role="alert">
              <h7><u><B> Comment: </B> </u></h7>      
            <p class="article-content">{{ mifga.comment }}</p>
          </div>
            <a class="btn1 btn-secondary btn-sm mt-1 mb-1" href="{% url 'my-issues-update' mifga.id %}">Update Comment</a>
            {% if mifga.status == "in progress"%}
            <form method="POST">
              {% csrf_token %}
                <input value="{{ mifga.id }}" name= "id" hidden>
                <button class = "btn btn-danger btn-sm mt-1 mb-1" type="submit" class="btn" value="Click" name= "stat">Close Issue</button>
            </form>
            {% endif %}
        </article>
    {% endfor %}
{% endblock content %}
