{% extends "home/base.html" %}
{% block content %}
    {% for mifga in mifgas %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <small class="text-muted">#{{ mifga.id }}, </small>
              <small class="text-muted"><u>posted by:</u> {{ mifga.author}}, </small>
              <small class="text-muted"><u>date posted:</u> {{ mifga.date_posted|date:"d-F-Y" }}</small>
              {% now "d-F-Y" as today_date %}
              {% if mifga.date_posted|date:"d-F-Y" == today_date  %}
              <span class="badge badge-secondary">New</span>
              {% endif %}
            </div>
            <div class="text"> 
              <h5><i><b> {{ mifga.title }}</b> </i></h5>
            <p class="article-content">{{ mifga.content }}</p>
            <small class="text-muted">כתובת המפגע: {{ mifga.street }} {{mifga.house_number}},בשכונה {{mifga.neighborhood}} </small>
            </div>
            <form method="POST">
              {% csrf_token %}
              {%if not user.is_superuser%}
                <input value="{{ mifga.id }}" name= "id" hidden>
                <button type="submit" class="btn btn-info" value="Click" name= "assign">assign to me</button>
              {%endif%}
              {%if user.is_superuser%}
                <form action="{% url 'open-reports' %}" method="post">
                  {% csrf_token %}
                <select id="worki" name="worki" class="btn btn-info btn-sm mt-1 mb-1 dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <option value="">---------------</option>
                  {% for worker in workers %}
                    {%if worker.is_staff%}
                      <option value="{{worker.id}}">{{worker}}</option>
                    {%endif%}
                  {% endfor %}
                <input value="{{ mifga.id }}" name= "id" hidden>
                <input type="submit" class="btn btn-info btn-sm mt-1 mb-1" value="submit">
                </form>
                {%endif%}
            </form>
          </div>
        </article>
    {% endfor %}
{% endblock content %}